<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myworld.gradution_project_backend.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.myworld.gradution_project_backend.bean.File">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="fileOriginName" column="file_origin_name" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="INTEGER"/>
            <result property="dialogId" column="dialog_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_url,
        file_origin_name,file_size,dialog_id,
        create_time
    </sql>
</mapper>
